* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: linear-gradient(
      90deg,
      #22c1c3 0%,
      #fdbb2d 100%
    );
  }

  .todoApp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #343434;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }

  .todoForm {
    margin-bottom: 32px;
  }

  .todoInput {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #fdbb2d;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }

  .todoInput::placeholder {
    color: #e2e2e2;
  }

  .todoButton {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        #22c1c3 0%,
        #fdbb2d 100%
      );
    color: #fff;
    text-transform: capitalize;
  }

  .todoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );

    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }