.main {
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: fit-content;
}